@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.Home{
    height: 100vh;
    width: 100vw;

    background-color: #fef7e7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    position: relative;


    h1{
        font-family: 'Montserrat', sans-serif;
        margin: 10px;
        color:#9e340b;
        cursor: default;
    }

    p{
        color: #9e340b;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
    }


    button{
        margin: 10px;
        background-color: #9e340b;
        color: #fef7e7;
        height: 50px;
        width: 120px;
        border: solid 2px black;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        font-family: 'Montserrat', sans-serif;
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.05);
    }


    img{
        position: absolute;
        bottom: 0;
        right:0;
        width: 200px;
        height: 200px;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        object-fit: cover;
        border: dashed 1px maroon;
        border-right: transparent;
    }


}
